<section fxLayout="column" class="user-add-container">
  <app-content-header>
    User Add
    <ng-container helpTitle>User Add Help Title</ng-container>
    <ng-container helpContent>User Add Help Content</ng-container>
  </app-content-header>
  <form [formGroup]="userAddForm" (ngSubmit)="onSubmit()" class="user-add-form">
    <mat-form-field class="add-form-item__input">
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="add-form-item__input">
      <input matInput placeholder="Age" formControlName="age" />
    </mat-form-field>
    <mat-form-field class="add-form-item__input">
      <input matInput placeholder="Height" formControlName="height" />
    </mat-form-field>
    <mat-form-field class="add-form-item__input">
      <input matInput placeholder="Weight" formControlName="weight" />
    </mat-form-field>
    <button
      type="submit"
      color="primary"
      class="add-form-item__button"
      mat-raised-button
    >
      登録
    </button>
  </form>
</section>
