<div fxLayout="column" class="main-container">
  <app-header fxFlex="40px"></app-header>
  <div fxFlex>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav opened mode="side" role="navigation" class="sidenav_menu">
        <ul class="no-bullet">
          <li *ngFor="let menu of menus">
            <a [routerLink]="menu.link" routerLinkActive="active">
              {{ menu.label }}
            </a>
          </li>
        </ul>
      </mat-sidenav>
      <mat-sidenav-content role="main" class="sidenav_content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <app-footer fxFlex="40px"></app-footer>
</div>
