.main-container, .sidenav-container
  width 100%
  height 100%

.sidenav_menu
  width 200px
  & ul
    font-size 1.1rem
    > li
      height 40px
      padding 6px
      > a
        display block
        width 100%
        height 100%
        color inherit
        text-decoration none
        &.active
          font-weight bold