<section fxLayout="column" class="group-search-container">
  <app-content-header>
    Group Search
    <ng-container helpTitle>Group Search Help Title</ng-container>
    <ng-container helpContent>Group Search Help Content</ng-container>
  </app-content-header>
  <app-content-search-form
    [formGroup]="searchForm"
    (submitEvent)="handleSubmit($event)"
  >
    <mat-grid-list cols="2" rowHeight="60">
      <mat-grid-tile *ngFor="let item of formItems">
        <mat-form-field class="group-search-form-item__input">
          <input
            matInput
            [placeholder]="item.label"
            [formControlName]="item.key"
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </app-content-search-form>
</section>
