.group-search-container
  width 100%
  height 100%
  padding 16px

.group-search--expansion-panel-container
  margin-bottom 16px

.group-search--expansion-panel-content
  background-color transparent
