<section fxLayout="column" class="section-root-container">
  <app-content-header>
    User Search
    <ng-container helpTitle>User Search Help Title</ng-container>
    <ng-container helpContent>User Search Help Content</ng-container>
  </app-content-header>
  <app-content-search-form
    [formGroup]="searchForm"
    (submitEvent)="handleSubmit($event)"
  >
    <mat-grid-list cols="2" rowHeight="60">
      <mat-grid-tile *ngFor="let item of formItems">
        <mat-form-field class="search-form-item__input">
          <input
            matInput
            [placeholder]="item.label"
            [formControlName]="item.key"
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </app-content-search-form>

  <app-content-search-result-table
    [displayedColumns]="displayedColumns"
    [data]="data"
    class="result-container"
  >
  </app-content-search-result-table>
</section>
