.user-search-container
  width 100%
  height 100%
  padding 15px

.user-search--expansion-panel-container
  margin-bottom 15px

.user-search--expansion-panel-content
.user-search--result-paginator
  background-color transparent

.user-search--result-table-container
  overflow auto

.user-search--result-table-content
  width 100%

th.mat-sort-header-sorted
  color black
