<app-custom-icon-button [iconSize]="iconSize" (click)="openDialog()">
  <ng-content></ng-content>
</app-custom-icon-button>
<!-- Dialog template -->
<ng-template #dialogTemplate>
  <h4 matDialogTitle><ng-content select="[dialogTitle]"></ng-content></h4>
  <mat-dialog-content class="dialog-content">
    <ng-content select="[dialogContent]"></ng-content>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-button matDialogClose>OK</button>
  </mat-dialog-actions>
</ng-template>
