<div class="search-expansion-panel-container">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title class="unselectable">
        検索条件
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      class="user-search-form"
    >
      <ng-content></ng-content>
      <mat-grid-list cols="2" rowHeight="60">
        <mat-grid-tile> </mat-grid-tile>
        <mat-grid-tile>
          <button
            type="button"
            class="search-form-item__button"
            (click)="formGroup.reset()"
            mat-raised-button
          >
            条件クリア
          </button>
          <button
            type="submit"
            class="search-form-item__button"
            mat-raised-button
          >
            検索
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-expansion-panel>
</div>
