/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'
// @import '~@angular/material/prebuilt-themes/purple-green.css'
*, *:before, *:after
  box-sizing border-box

.html, body
  width 100vw
  height 100vh
  min-width 1024px
  margin 0
  padding 0

body
  font-size 1.4em
  font-family 'メイリオ', 'Hiragino Kaku Gothic Pro', Meiryo, 'ヒラギノ角ゴ Pro W3', 'MS PGothic', 'MS UI Gothic', Helvetica, Arial, sans-serif
  color #3f3f3f
  background-color transparent

ul
  -webkit-overflow-scrolling touch

.no-bullet
  list-style-type none
  margin 0
  padding 0

.unselectable
  user-select none
  -webkit-touch-callout none
