.element-search-container
  width 100%
  height 100%
  padding 15px

.element-search--expansion-panel-container
  margin-bottom 15px

.element-search--expansion-panel-content, .element-search--result-paginator
  background-color transparent

.element-search--result-table-container
  overflow auto

.element-search--result-table-content
  width 100%

th.mat-sort-header-sorted
  color black
