<section fxLayout="column" class="section-root-container">
  <app-content-header>
    Member Search
    <ng-container helpTitle>Member Search Help Title</ng-container>
    <ng-container helpContent>Member Search Help Content</ng-container>
  </app-content-header>
  <app-content-search-form
    [formGroup]="searchForm"
    (submitEvent)="handleSubmit($event)"
  >
    <mat-grid-list cols="2" rowHeight="60">
      <mat-grid-tile *ngFor="let item of formItems">
        <mat-form-field class="search-form-item__input">
          <input
            matInput
            [placeholder]="item.label"
            [formControlName]="item.key"
          />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </app-content-search-form>

  <div
    *ngIf="hasData()"
    fxFlex
    fxLayout="column"
    class="search--result-container"
  >
    <mat-paginator
      class="search--result-paginator"
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
    <div fxFlex class="mat-elevation-z8 search--result-table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="search--result-table-content"
      >
        <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
          <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</section>
