<div fxLayout="column" class="user-search-container">
  <div class="user-search--expansion-panel-container">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-grid-list
        cols="2"
        rowHeight="4:1"
        class="user-search--expansion-panel-content"
      >
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="First name" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Age" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Age" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </div>

  <div fxFlex fxLayout="column" class="user-search--result-container">
    <mat-paginator
      class="user-search--result-paginator"
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
    <div fxFlex class="mat-elevation-z8 user-search--result-table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="user-search--result-table-content"
      >
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
